body {
    height: 100vh;
    display: flex;
    flex-flow: column-reverse;
    overflow: hidden;

    &.none {
        flex-flow: column;
        & *:not(#noSelection) {
            display: none !important;
        }
    }

    &.shown > #noSelection {
        display: none
    }
}

::-webkit-scrollbar {
    display: none !important;
}

html {
    scrollbar-color: unset;
}

textarea {
    margin: 5px 0;
    flex: 1 1 auto;
    min-height: 2em;
    background-color: var(--vscode-selection-background);
    color: var(--vscode-foreground);
    cursor: default;
    border-color: var(--vscode-widget-border);
    box-shadow: var(--vscode-widget-shadow);
    resize: none;
    outline: none;
}

.inputArea {
    overflow: hidden;
    display: flex;
    flex-flow: row-reverse;
    flex: 0 0 2em;
}

input {
    min-width: 0;
    flex: 1 1 auto;
    border-radius: 2px;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border-color: var(--vscode-input-border, rgba(0,0,0,0.10));
    box-shadow: var(--vscode-widget-shadow);
    border-style: solid;

    &::placeholder {
        color: var(--vscode-input-placeholderForeground);
    }

    &:focus {
        background-color: var(--vscode-inputoption-activebackground);
        color: var(--vscode-inputoption-activeforeground);
        border-color: var(--vscode-inputoption-activeborder);
    }
}

.submitButton {
    margin-left: 1vw;
    height: 2em;
    width: fit-content;
    padding: 0 30px;
    flex: 0 0 auto;
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border-color: var(--vscode-button-border);

    &:hover {
        background-color: var(--vscode-button-hoverBackground);
    }
}

#noSelection {
    text-align: center;
    font-size: 1em;
}

.tabSelection {
    overflow: hidden;
    display: flex;
    flex-flow: row;
    flex: 0 0 auto;
    position: relative;

    &>.scrollButton {
        display: none;
        height: 100%;
        border: none;
        &>button {
            background: none;
            border: none;
            color: var(--vscode-panelTitle-inactiveForeground);
            &:hover {
                color: var(--vscode-panelTitle-activeForeground);
                cursor: pointer;
            }
        }
        &.active {
            display:flex
        }
    }
}

.tabs {
    scroll-behavior: smooth;
    scrollbar-width: none !important;
    -ms-overflow-style: none;
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    flex-flow: row;
    flex: 1 1 auto;
}

.tab {
    user-select: none;
    color: var(--vscode-panelTitle-inactiveForeground);
    background-color: var(--vscode-panel-background);
    border: none;
    margin: 0 10px;
    padding: 0 2px;
    height: 1.5em;
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    white-space: nowrap;
    & > * {
        &:hover {
            color: var(--vscode-panelTitle-activeForeground);
        }
    }
    &.selected {
        border-bottom: solid 1px;
        border-bottom-color: var(--vscode-panelTitle-activeBorder);
        color: var(--vscode-panelTitle-activeForeground);
    }
}

.closeButton {
    background: none;
    border: none;
    color: var(--vscode-panelTitle-inactiveForeground);
}

#tabContent {
    height: 100vh;
    display: flex;
    flex-flow: column-reverse;
    overflow: hidden;
    position: relative;

    &.none > *:not(#terminalSelection) {
        display: none;
    }

    &:not(.none) > #terminalSelection {
        display: none;
    }

    &.flash > .inputArea {
        display: none
    }

    &>button {
        background: none;
        color: var(--vscode-panelTitle-inactiveForeground);
        border: none;
        position: absolute;
        margin-top: 5px;
        padding: 5px 5px;
        top: 0;
        right: 0;
        &:hover {
            color: var(--vscode-panelTitle-activeForeground);
        }
    }
}

#terminalSelection {
    flex: 1 1 auto;
    text-align: center;
    font-size: 1em;

    &>button {
        height: 2em;
        width: fit-content;
        padding: 0 30px;
        background-color: var(--vscode-button-background);
        color: var(--vscode-button-foreground);
        border-color: var(--vscode-button-border);

        &:hover {
            background-color: var(--vscode-button-hoverBackground);
        }
    }
}